.big-chungus {
    margin-left: 12px;
    margin-right: 12px;
    height: 800px;
    display: flex;
    flex-flow: column;
    justify-content:  space-between;
}


.row {
    display: flex;
    flex-direction: row;
}

.chip-text {
    font-size: 14px;
}
.chip {
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    background-color: white;
    border: 1px solid #979797;
    border-radius: 30px;
    cursur: hover;
}

.chip-selected {
    color: white;
    background-color: #FF9900;
    border: 1px solid #FF9900;
}

.state-row {
    width: 250px;
    justify-content: space-between;
}

.priority-row {
    width: 340px;
    justify-content: space-between;
}

.full-length-input {
    width: 100%;
}

.counter-row {
    align-items: center;
    justify-content: space-between;
    width: 110px;
}

.large-icon {
    font-size: 32px;
}

.counter-button {
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.minus-button {
    border: 1px solid #979797;
}

.add-button {
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: white;
}

.content-area {
    height: 250px;
}

.headline-4 {
    font-size: 34px;
    color: black;
}

.sub-header-1 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #666666;
}
