.no-user-select {
    user-select: none;
}

.app-container {
    width: 100%;
    margin-top: 62px;
    margin-bottom: 100px;
}

.app-bottom-left {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.task-row {
    margin-left: 2px;
    margin-top: 10px;
    font-size: 14px;
    color: #717171;
    min-width: 275px;
}

.task-spacing {
    margin-right: 0.5rem;
}

.task-label {
    color: #4a4a4a;
    font-weight: 500;
}

.section-row {
    margin-left: 2px;
    margin-top: 10px;
    font-size: 14px;
    color: #717171;
    min-width: 275px;
}

.section-row.highlight {
    color: #8B4513;
}

.movemode-container {
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
}

.movemode-button {
    margin: 10px;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-strikethrough {
    text-decoration: line-through;
}

.headline-state-text {
    font-weight: 600;
}

.headline-state-text.red {
    color: red;
}

.headline-state-text.green {
    color: green;
}

.headline-priority-text {
    font-weight: bold;
}

.headline-star {
    margin-right: 5px;
}

.headline-row {
    display: flex;
    align-items: 'baseline';
    flex-flow: column;
    font-size: 16px;
    line-height: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.headline-row-item {
    display: flex;
    alignitems: 'baseline';
    justify-content: 'flex-start';
}

.headline-content {
    min-width: 40%;
    overflow-wrap: break-word;
    margin-right: 8px;
}

.headline-dashplus {
    display: block;
    position: absolute;
    right: 1px;
    font-size: 16px;
}

.topbar-icon {
    margin-right: 1rem;
}

.file-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    background-color: #dddddd;
}

.datetime-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.datetime-margin {
    margin: 1rem;
}

.datetime-container label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
