$mdc-theme-primary: #284453;
$mdc-theme-secondary: #FF9900;

@import "@material/react-fab/index.scss";
@import "@material/react-text-field/index.scss";
@import "./components/AddNoteFab/AddNoteFab.scss";
@import "./components/AddEditMode/AddEditMode.scss";
@import "./components/BottomBar/BottomBar.scss";
@import "./components/ElevatedTray/ElevatedTray.scss";

body {
    font-family: 'Roboto';
    margin: 0px;
}

.no-user-select {
    user-select: none;
}


.app-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
}

.app-bottom-left {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.horizontal-rule {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.task-row {
    margin-left: 2px;
    font-size: 14px;
    color: #717171;
    min-width: 275px;
    margin-top: 0.25rem;
}

.task-spacing {
    margin-right: 0.5rem;
}

.task-label {
    color: #4a4a4a;
    font-weight: 500;
}

.section-row {
    margin-left: 2px;
    font-size: 14px;
    color: #717171;
    min-width: 275px;
    margin-top: 0.5rem;
    padding-right: 20px;
}

.highlight {
    color: #8B4513;
}

.movemode-container {
    position: fixed;
    bottom: 30px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
}

.movemode-button {
    margin: 10px;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-strikethrough {
    text-decoration: line-through;
}

.headline-state-text.red {
    color: red;
}

.headline-state-text.green {
    color: green;
}

.headline-priority-text {
    font-weight: bold;
}

.headline-star {
    font-size: 20px;
}

.headline-row {
    display: flex;
    align-items: 'baseline';
    flex-flow: column;
    font-size: 16px;
    line-height: 16px;
}

.headline-text {
    margin-top: 3px;
    margin-right: 20px;
}

.headline-row-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.headline-content {
    min-width: 40%;
    width: 100%;
    overflow-wrap: break-word;
}

.headline-dashplus {
    display: block;
    position: absolute;
    right: 1px;
    font-size: 16px;
}

.topbar-icon {
    margin-right: 1rem;
}

.file-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    background-color: #dddddd;
}

.datetime-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.datetime-margin {
    margin: 1rem;
}

.datetime-container label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.move-note-fab {
    position: relative;
    color: white;
}

@-webkit-keyframes slideup-sub-container {
  from {bottom: -960px;}
  to {bottom: 40px;}
}

@-webkit-keyframes slideup-create {
  from {bottom: -960px;}
  to {bottom: 5px;}
}

.file-explorer-list {
    position: fixed;
    bottom: 40px;
    width: 100vw;
    -webkit-animation: slideup-sub-container 0.5s; /* Safari 4.0 - 8.0 */
    height: calc(75vh - 65px);
    border-radius: 20px;
    z-index: 6;
    background-color: #1c3643;
    overflow: scroll;
}

.file-explorer-list.short {
    height: calc(40vh - 65px);
}

.file-explorer-list.tall {
    height: calc(75vh - 65px);
}


.file-explorer-create {
    -webkit-animation: slideup-container 0.25s; /* Safari 4.0 - 8.0 */
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 5px;
    left: 1px;
}

.file-explorer-list-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: "Roboto";
}

.file-explorer-item {
    color: white;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.white {
    color: white;
}

.selected {
    color: #FF9900;
}

.file-explorer-icon {
    margin-left: 5px;
    margin-right: 5px;
}


.agenda-header {
    margin-top: 4px;
    color: white;
    display: flex;
    justify-content: center;
}

.agenda-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.agenda-row.current-day {
    color: #FF9900;
}

.agenda-row.default {
    color: #6FDCFF;
}

.agenda-weekday {
    width: 40%;
}


.agenda-task-row {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
